<h2>Update Shift</h2>
<%= form_tag "/positionshifts/#{@position_shift.id}", method: :patch do %>
    <div>Day: <%= collection_select :shift, :shift_id, Shift.all, :id, :date  %></div>
    <div>Time: <%= collection_select :shift, :shift_id, Shift.all, :id, :time  %></div>
    <div>Position: <%= collection_select :position, :position_id, Position.all, :id, :name %></div>
    <div>Employee: <%= collection_select :employee, :employee_id, Employee.all, :id, :first_name %></div>
    <input type="submit" value="Staff Shift">
<% end %>
