<section id="page-title-wrapper" class="section page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 page-title">
                        <h4>Shifts</h4>
                    </div>
                    <!-- /.page-title -->
                    
                    <!-- /.breadcrumb-wrapper -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
</section>
<% if admin_signed_in? %>
<!-- /#page-title-wrapper -->
<section id="our-story" class="section colored-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wrapper-1">
                        <h5 class="subpage-title">Shifts to be scheduled
                        </h5>
                        <%= form_tag '/positionshifts', method: :post do %>
                        
                            <div> Date: <%= collection_select :shift, :shift_id, Shift.where("shift_date >= ?", DateTime.now).select(:shift_date).distinct, :id, :shift_date  %></div>
                            <div>Time: <%= collection_select :shift, :shift_id, Shift.all, :id, :time  %></div>
                            <div>Position: <%= collection_select :position, :position_id, Position.all, :id, :name %></div>
                            <div>Employee: <%= collection_select :employee, :employee_id, Employee.all, :id, :first_name %></div>
                            <input type="submit" value="Staff Shift" class="btn btn-flat flat-inverse" >
                        <% end %>    
                    </div>

                    <div class="col-md-6 wrapper-1">  
                    </div>

                </div>
            </div>
</section>
<% end %>
            
<section id="faqs" class="section faqs">
    <div class="container">
        <div class="row">

            <div class="col-md-6 content-wrapper">
                <div class="special-wrapper wrapper-1">
                <% if @employees_position_shifts %>
                    <h4 class="subpage-title">Your Scheduled Shifts</h4>
                        <table class="table">
                            <thead>
                            <tr class="info">
                                <th>Date</th>
                                <th>Time</th>
                                <th>Employee</th>
                                <th>Position</th>
                            </tr>
                            </thead>
                            <% @employees_position_shifts.each do |emp_position_shift| %>
                            <tr>
                                <td><%= emp_position_shift.shift.shift_date.strftime('%m/%d/%Y') %></td>
                                <td><%= emp_position_shift.shift.time.upcase %></td>
                                <td><%= emp_position_shift.employee.first_name.titleize %></td>
                                <td><%= emp_position_shift.position.name %></td>
                            <% end %>    
                            </tr>
                        </table>
                <% end %>
                </div>
            </div>




<% if admin_signed_in? %>
            <div class="col-md-6 content-wrapper">
                <div class="special-wrapper wrapper-1">
                        <h4 class="subpage-title">All Scheduled Shifts</h4>
                            <% if @position_shifts %>
                                <% @shifts.each do |shift| %>
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion<%= shift.id %>" href="#collapse<%= shift.id %>">
                                                            <%= shift.shift_date.strftime('%m/%d/%Y') %> - 
                                                            <%= shift.time.upcase %>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse<%= shift.id %>" class="accordion-body collapse">
                                                <div class="panel-body">
                                                        <h5>Total Employees Needed For Shift:<%= shift.friendly_employees_needed - shift.employees.length%>
                                                        </h5>
                                                        <h6>
                                                        <div>Managers: <%= shift.managers_needed - (PositionShift.where('shift_id = ? AND position_id = ?', shift.id, 1).length) %></div>
                                                        <div>Servers: <%= shift.servers_needed - (PositionShift.where('shift_id = ? AND position_id = ?', shift.id, 2).length) %></div>
                                                        <div>Bartenders: <%= shift.bartenders_needed - PositionShift.where('shift_id = ? AND position_id = ?', shift.id, 4).length %></div>
                                                        <div>Hosts: <%= shift.hosts_needed - (PositionShift.where('shift_id = ? AND position_id = ?', shift.id, 5).length) %></div>
                                                        <div>HOH: <%= shift.hoh_needed - (PositionShift.where('shift_id = ? AND position_id = ?', shift.id, 3).length) %></div>
                                                        </h6>

                                                    <div class="row"> <!-- /.status bar -->
                                                        <div class="col-md-6 wrapper-1">
                                                            <div class="progress">
                                                                <div class="progress progress-striped active">
                                                                    <div class="progress-bar progress-bar-success" role="progressbar" 
                                                                    aria-valuenow= "<%= shift.width %> " aria-valuemin="0" aria-valuemax="100" 
                                                                    style= "width: <%= shift.width %>%; ">
                                                                        <%= shift.width %>% Staffed
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <table class="table">
                                                            <thead>
                                                            <tr class="info">
                                                                <th>Employee</th>
                                                                <th>Position</th>
                                                                <th>Update</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                            </thead>
                                                                <% shift.position_shifts.each do |position_shift|%>
                                                                    <tr>
                                                                        <td><%= position_shift.employee.first_name.titleize %></td>
                                                                        <td><%= position_shift.position.name %></td>
                                                                        <td><%= link_to "Update", "/positionshifts/#{position_shift.id}/edit", :class => "btn btn-flat flat-info" %></td>
                                                                        <td><%= link_to "Delete", "/positionshifts/#{position_shift.id}", method: :delete, :class => "btn btn-flat flat-inverse" %></td>
                                                                            
                                                                    </tr>
                                                                <% end %> 
                                                        </table>
                                                </div>        
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                <% end %>   
                            <% end %>
<% end %>
             </div>   
        </div>
                <!-- /.row -->
    </div>
            <!-- /.container -->
</section>