<h2>Scheduled Shifts</h2>
<% if @position_shifts %>
<ul>
    <% @position_shifts.each do |position_shift| %>
        <li class="list-group-item">
        <%= position_shift.shift.shift_date %>
        <%= position_shift.shift.time.upcase %> -
        <%= position_shift.employee.first_name.titleize %> - 
        <%= position_shift.position.name %> -
        <%= position_shift.friendly_employees_needed %> -
        <%= link_to "Update |", "/positionshifts/#{position_shift.id}/edit" %>
        <%= link_to " Delete", "/positionshifts/#{position_shift.id}", method: :delete %>
        </li>
    <% end %>
    </ul>
<% end %>

<br>

<h2>Shifts to be scheduled</h2>
<%= form_tag '/positionshifts', method: :post do %>
    <div>Date: <%= collection_select :shift, :shift_id, Shift.all, :id, :shift_date  %></div>
    <div>Time: <%= collection_select :shift, :shift_id, Shift.all, :id, :time  %></div>
    <div>Position: <%= collection_select :position, :position_id, Position.all, :id, :name %></div>
    <div>Employee: <%= collection_select :employee, :employee_id, Employee.all, :id, :first_name %></div>
    <input type="submit" value="Staff Shift">
<% end %>
