<% if admin_signed_in? %>
<h2>All Scheduled Shifts</h2>
    <% if @position_shifts %>
    <table>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Employee</th>
            <th>Position</th>
            <th>Employees Needed</th>
        </tr>
        <% @position_shifts.each do |position_shift| %>
        <tr>
            <td><%= position_shift.shift.shift_date.strftime('%m/%d/%Y') %></td>
            <td><%= position_shift.shift.time.upcase %></td>
            <td><%= position_shift.employee.first_name.titleize %></td>
            <td><%= position_shift.position.name %></td>
            <td><%= position_shift.friendly_employees_needed %></td>
            <td><%= link_to "Update", "/positionshifts/#{position_shift.id}/edit" %></td>
            <td><%= link_to "Delete", "/positionshifts/#{position_shift.id}", method: :delete %></td>
        <% end %>    
        </tr>
    <% end %>
    </table>

    <br>

    <h2>Shifts to be scheduled</h2>
    <%= form_tag '/positionshifts', method: :post do %>
        
    <!--     <select id="shift" onchange="changeShiftDetails()"> 
          <% Shift.select(:shift_date).distinct.each do |shift| %>
          <option value="<%= shift.shift_date %>"><%= shift.shift_date %></option> 
          <% end %>
        </select> 
        <select id="shift_time"></select> 
     -->
        <div v-on:change="changeShiftDetails()">Date: <%= collection_select :shift, :shift_id, Shift.select(:shift_date).distinct, :id, :shift_date  %></div>
        <div>Time: <%= collection_select :shift, :shift_id, Shift.all, :id, :time  %></div>
        <div>Position: <%= collection_select :position, :position_id, Position.all, :id, :name %></div>
        <div>Employee: <%= collection_select :employee, :employee_id, Employee.all, :id, :first_name %></div>
        <input type="submit" value="Staff Shift">
    <% end %>
    <br><br>
<% end %>

<% if @employees_position_shifts != nil %>
    <h2>Your Scheduled Shifts</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Employee</th>
                <th>Position</th>
            </tr>
            <% @employees_position_shifts.each do |emp_position_shift| %>
            <tr>
                <td><%= emp_position_shift.shift.shift_date.strftime('%m/%d/%Y') %></td>
                <td><%= emp_position_shift.shift.time.upcase %></td>
                <td><%= emp_position_shift.employee.first_name.titleize %></td>
                <td><%= emp_position_shift.position.name %></td>
            <% end %>    
            </tr>
        </table>
<% end %>
