
<section id="our-story" class="section colored-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wrapper-1">
                        <h3 class="subpage-title">Shifts Currently Being Staffed</h3>
                        <table class="table">
                            <thead>
                            <tr class="info">
                                <th>Date</th>
                                <th>Time</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            </div>
                            </div>
                            </div>
         
                            <% @shifts.each do |shift| %>
                            <tr>
                                <td><%= shift.shift_date.strftime('%m/%d/%Y') %></td>
                                <td><%= shift.time.upcase %></td>
                                <td><%= link_to "Update", "/shifts/#{shift.id}/edit", :class => "btn btn-flat flat-info" %></td>
                                <td><%= link_to "Delete", "/shifts/#{shift.id}", method: :delete, :class => "btn btn-flat flat-inverse"%></td>
                            </tr>
                            <% end %>    
                        </table>
                    </div>
                    <div class="col-md-2 wrapper-1">
                    </div>

                    <div class="col-md-4 wrapper-1">
                        <h3 class="subpage-title">Any others?</h3>
                        <%= form_tag '/shifts', method: :post do %>
                        <div>Date: <input type="date" name="shift_date"></div>
                        <div>Time: <input type="text" name="time"></div>
                        <br>
                        <input type="submit" value="Create Request" class="btn btn-flat flat-inverse">
                        <% end %>
                    </div>

                </div>
            </div>
</section>