<h1>Shifts Needing Extra Coverage</h1>
<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
    </tr>
    <% @shifts.each do |shift| %>
    <tr>
        <td><%= shift.shift_date.strftime('%m/%d/%Y') %></td>
        <td><%= shift.time.upcase %></td>
        <td><%= link_to "Update", "/shifts/#{shift.id}/edit" %></td>
        <td><%= link_to "Delete", "/shifts/#{shift.id}", method: :delete %></td>
    <% end %>    
    </tr>
</table>


<h2>Any others?</h2>
<%= form_tag '/shifts', method: :post do %>
<div>Date: <input type="date" name="shift_date"></div>
<div>Time: <input type="text" name="time"></div>
<input type="submit" value="Create Request">
<% end %>