<h1>Which shifts need extra coverage?</h1>

<% @shifts.each do |shift| %>
<div><%= shift.day %>
<%=  shift.time %>
    <%= link_to "Update |", "/shifts/#{shift.id}/edit" %>
    <%= link_to " Delete", "/shifts/#{shift.id}", method: :delete %>
</div>
<% end %>

<h2>Any others?</h2>
<%= form_tag '/shifts', method: :post do %>
<div>Day: <input type="text" name="day"></div>
<div>Date: <input type="date" name="date"></div>
<div>Time: <input type="text" name="time"></div>
<!-- <div>Position: <input type="text" name="position_id"></div> -->
<input type="submit" value="Create Request">
<% end %>