<h1>Shifts Needing Extra Coverage</h1>
<ul>
    <% @shifts.each do |shift| %>
    <li class="list-group-item"><%= shift.shift_date %>
    <%=  shift.time %>
        <%= link_to "Update |", "/shifts/#{shift.id}/edit" %>
        <%= link_to " Delete", "/shifts/#{shift.id}", method: :delete %>
    </li>
    <% end %>
</ul>

<h2>Any others?</h2>
<%= form_tag '/shifts', method: :post do %>
<div>Date: <input type="date" name="shift_date"></div>
<div>Time: <input type="text" name="time"></div>
<input type="submit" value="Create Request">
<% end %>