<section id="faqs" class="section faqs">
    <div class="container">
        <div class="col-md-2 content-wrapper"></div>
            <div class="col-md-8 content-wrapper">
                <div class="special-wrapper wrapper-1">
                <h3 class="subpage-title">Categories that Affect You</h3>
                    <% @company_categories.each do |category| %>
                        <%= category.category.name %>
                        
                            <div class="progress">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-<%=category.progress_color  %>" role="progressbar" 
                                    aria-valuenow= "<%= category.width %> " aria-valuemin="0" aria-valuemax="100" 
                                    style= "width: <%= category.width %>%; ">
                                    </div>
                                </div>
                            </div>

                    <% end %>
                </div>
                <%= link_to "Update", "/companycategories", method: :delete, :class => "btn btn-flat flat-info" %>
        <div class="col-md-2 content-wrapper"></div>
    </div>
</section>
